@model IEnumerable<Book>
@{
    ViewData["Title"] = "Lista elementów";

}

<h1>BooksList</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>


<div class="card-deck">
    @foreach (var book in Model)
    {
        <div class="card m-3">
            <div class="card-header">
                <h3>@book.Title</h3>
            </div>
            <img class="card-img-top" src="~/images/loggedU1.jpg" asp-append-version="true"/>
            <div class="card-footer text-center">
                <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Details" asp-route-id ="@book.Id">View</a>

                <a href="#" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    }
</div>

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
